/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0b5e8;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}

/* Header Styling */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Main Stream Container */
#stream-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#stream-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Button Styling */
button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

/* Form Styling */
form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1.1em;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1.1em;
}


form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(190, 97, 152);
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}

/* Footer Styling */
footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 1em;
}

/* Flash Messages */
.flash {
    color: red;
    font-size: 1.1em;
    margin-bottom: 20px;
}
#out{
    background: #4ba867;
}
#logout {
    background: rgb(226, 68, 68);
}